.gridMenu2 {
    width: 90%;
    margin: 30px 10px 30px 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "perfil2 perfil2 momento1 ........"
    "perfil2 perfil2 ........ momento2"
    "perfil2 perfil2 momento3 ........"
    "perfil2 perfil2 ........ momento4";
    gap: 10px; 
    
    .perfil2 {
        width: 100%;
        background-color: $tarjetas;
        padding: 10px;
        border: 2px solid $bordes;
        border-radius: 10px;
        grid-area: perfil2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 10px 10px 20px;
    
        &__imagen {
            width: 100%;
            border: 2px solid $bordes;
            border-radius: 10px;
            margin-bottom: 10px;
         }

         &__biografia {
            font-size: 25px;
            color: $letras;
        }
        
        &__biografiaParrafo {
            font-size: 18px;
            color: $letras;
        }
    }
    .momento1 {
        margin-top: 30px;
        width: 250px;
        height: 250px;
        grid-area: momento1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        transition: all 1s;
    
        &:hover {
            width: 350px;
            z-index: 1;
        }
    }
    
    .momento2 {
        width: 250px;
        height: 300px;
        grid-area: momento2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 1s;
    
        &:hover {
            width: 350px;
            z-index: 1;
        }
    }
    
    .momento3 {
        width: 250px;
        height: 300px;
        grid-area: momento3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 1s;
    
        &:hover {
            width: 350px;
            z-index: 1;
        }
    }
    
    .momento4 {
        width: 250px;
        height: 300px; 
        grid-area: momento4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 2s;
    
        &:hover {
            width: 350px;
            z-index: 1;
        }
    }
}

.momentosBio {
    font-weight: bold;
    color: $bordes;
}





