.gridMenu3 {
    width: 90%;
    margin: 30px;
    
    .perfil3 {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        background-color: $tarjetas;
        padding: 10px;
        border: 2px solid $bordes;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        gap: 20px;
        box-shadow: 10px 10px 20px;
        
        &__imagen {
            max-width: 320px;
            height: auto;
            border: 2px solid $bordes;
            border-radius: 10px;
        }

        &__docente {
            font-size: 30px;
            color: $letras;
            text-align: center;
        }
        
        &__docenteParrafo {
            font-size: 15px;
            color: $letras;
        }
    }

    .bajistas {
        color: $letras;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &__titulo {
            background-color: #7fffd4;
            border-radius: 10px;
            padding-inline: 10px;
            box-shadow: 10px 10px 20px black;
        }    
    }

    .carousel {
        max-width: 500px;
        height: auto;

        .carousel-inner {
            box-shadow: 10px 10px 20px black;
        }
    }
}