.gridMenu {
    width: 90%;
    margin: 30px 10px 30px 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "perfil1   perfil1    perfil1"
    "perfil1   perfil1    perfil1"
    "objetivos videoIndex alumnos";
    gap: 30px;

    .perfil1 {
        width: 100%;
        height: auto;
        background-color: $tarjetas;
        padding: 10px;
        border: 2px solid $bordes;
        border-radius: 10px;
        grid-area: perfil1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        box-shadow: 10px 10px 20px;

        .perfil1__imagen {
            width:20%;
            border: 2px solid $bordes;
            border-radius: 10px;
        }

        .perfil1__quienSoy {
            font-size: 40px;
            color: $letras;
        }

        .perfil1__parrafoQuienSoy {
            font-size: 20px;
            color: $letras;
            text-align: justify;
        } 
    }

    .objetivos {
        width: 100%;
        height: auto;
        background-color: $tarjetas;
        padding: 10px;
        border: 2px solid $bordes;
        border-radius: 10px;
        grid-area: objetivos;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        flex-direction: column;
        box-shadow: 10px 10px 20px;

        .objetivosTitulo {
            font-size: 25px;
            color: $letras;
        }

        .parrafoObjetivos {
            font-size: 18px;
            color: $letras;
        }
    }

    .video {
        grid-area: videoIndex;

        .videoIndex {
            width: 100%;
            height: auto;
            border: 2px solid $bordes;
            border-radius: 10px;
            box-shadow: 10px 10px 20px black;
    
            &:hover {
                border: 10px solid $bordes;
                z-index: 1;
            }
        }
    } 
    
    .alumnos {
        width: 100%;
        height: 80%;
        background-color: $tarjetas;
        padding: 10px;
        border: 2px solid $bordes;
        border-radius: 10px;
        grid-area: alumnos;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        flex-direction: column;
        box-shadow: 10px 10px 20px; 

        .alumnosTitulo {
            font-size: 25px;
            color: $letras;
        }

        .parrafoAlumno {
            font-size: 18px;
            color: $letras;
        }
    } 
}