.fondoSecionista {
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/Bajos.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: grid;
}

.gridMenu4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 50px;
}

.perfil4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $tarjetas;
    padding: 10px;
    border: 2px solid $bordes;
    border-radius: 10px;
    gap: 30px;
}

.contenidoSesionista {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.perfil4__sesionista {
    font-size: 25px;
    color: $letras;
}

.perfil4__sesionistaParrafo {
    font-size: 18px;
    color: $letras;
}

.perfil4__video {
    width: 100%;
    height: 100%;
    margin:0 30px 30px 0;
    border-radius: 10px;    
}

.videoYoutube {
    width: 350px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bi-youtube {
    font-size: 2rem;
    width: 60px;
    color: $letras;

    &:hover {
        color: red;
  }
}

.tituloEquipamiento {
    display: flex;
    justify-content: center;
}

.tituloInfo {
    width: 200px;
    color: $letras;
    margin-top: 50px;
    padding: 0%;
    text-align: center;
    background-color: aquamarine;
    border-radius: 10px;
}

.masInformacion {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 20px;
}

.masInfo1 {
    justify-content: center;
    align-items: center;
    border-color: $bordes;
    border-radius: 10px;
    color: white;
    
    .fender {
        margin:10px;
        padding: 0%;
        width: 300px;
        border-radius: 10px;
    }

    .fenderTexto {
        align-items: center;
        color: $letras;
    }
}

.masInfo2 {
    justify-content: center;
    align-items: center;
    border-color: $bordes;
    border-radius: 10px;
    color: white;
    
    .steinberger {
        margin:10px;
        padding: 0%;
        width: 180px;
        height: 180px;
        border-radius: 10px;
    }

    .steinbergerTexto {
        color: $letras;
    }
}

.masInfo3 {
    justify-content: center;
    align-items: center;
    border-color: $bordes;
    border-radius: 10px;
    color: white;
    
    .contrabajo {
        width: 180px;
        height: 200px;
        margin:10px;
        padding: 0%;
        border-radius: 10px;
    }

    .contrabajoTexto {
        color: $letras;
    }
}
// map
$coloresFondo: (
   informacion1: #04ff00,
   informacion2: rgb(255, 247, 0),
   informacion3: rgb(254, 2, 2),
   informacion4: #7ee97c
);

@each $informacion, $colores in $coloresFondo {
    .mas-#{$informacion} {
       background-color: $colores;
    }
 }

//  map-get
 .masInfo1 {
    background-color: map-get($coloresFondo , informacion4 );
 }

//  mixin
 @mixin cajasMasInfo ($ancho, $alto, $aling) {
    width: $ancho;
    height: $alto;
    text-align: $aling    
 }

 .masInfo1 {
    @include cajasMasInfo (350px, 250px, center);
 }

 .masInfo2 {
    @include cajasMasInfo (200px, 250px, center);
 }

 .masInfo3 {
    @include cajasMasInfo (200px, 250px, center);
 }