.gridMenu4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.perfil4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    max-width: 90%;
    background-color: $tarjetas;
    padding: 10px;
    border: 2px solid $bordes;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 10px 10px 20px;

    .videoYoutube {
        width: 35%;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;

        .perfil4__video {
            width: 100%;
            height: 100%;
            margin:0 30px 30px 0;
            border-radius: 10px;    
        }
    } 
}

.contenidoSesionista {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .perfil4__sesionistaParrafo {
        font-size: 18px;
        color: $letras;
    }
}

.tituloEquipamiento {
    display: flex;
    justify-content: center;

    .tituloInfo {
        width: 200px;
        color: $letras;
        margin-top: 50px;
        padding: 0%;
        text-align: center;
        background-color: #7fffd4;
        border-radius: 10px;
        box-shadow: 10px 10px 20px black;
    }
}


.masInformacion {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px;
    gap: 20px;

    .masInfo1 {
        max-width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-color: $bordes;
        border-radius: 10px;
        color: white;
        box-shadow: 5px 5px 10px black;
        
        .fender {
            margin:10px;
            max-width: 85%;
            border-radius: 10px;
        }
    
        .fenderTexto {
            align-items: center;
            color: $letras;
        }
    }

    .masInfo2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-color: $bordes;
        border-radius: 10px;
        color: white;
        box-shadow: 5px 5px 10px black;
        
        .steinberger {
            margin:10px;
            padding: 0%;
            width: 180px;
            height: 180px;
            border-radius: 10px;
        }
    
        .steinbergerTexto {
            color: $letras;
        }
    }

    .masInfo3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-color: $bordes;
        border-radius: 10px;
        color: white;
        box-shadow: 5px 5px 10px black;
        
        .contrabajo {
            width: 180px;
            height: 200px;
            margin:10px;
            padding: 0%;
            border-radius: 10px;
        }
    
        .contrabajoTexto {
            color: $letras;
        }
    }
}

// map
$coloresFondo: (
   informacion1: #04ff00,
   informacion2: rgb(255, 247, 0),
   informacion3: rgb(255, 0, 0),
   informacion4: #7ee97c
);

@each $informacion, $colores in $coloresFondo {
    .mas-#{$informacion} {
       background-color: $colores;
    }
 }

//  map-get
 .masInfo1 {
    background-color: map-get($coloresFondo , informacion4 );
 }

//  mixin
 @mixin cajasMasInfo ($ancho, $alto, $aling) {
    width: $ancho;
    height: $alto;
    text-align: $aling    
 }

 .masInfo1 {
    @include cajasMasInfo (350px, 250px, center);
 }

 .masInfo2 {
    @include cajasMasInfo (200px, 250px, center);
 }

 .masInfo3 {
    @include cajasMasInfo (200px, 250px, center);
 }