.piedepagina {
    background-color: $fondo;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 10px;
    color: $letrasBlancas;


   //  extend
   .bi-facebook {
      font-size: 2rem;
      color: $letrasBlancas;

      &:hover {
         color: #202079;
      }
    }

    .bi-instagram {
      @extend .bi-facebook;
      &:hover {
         color: #940c88;
      }
    }
}