.piedepagina {
   background: rgb(6,6,6);
   background: linear-gradient(90deg, rgba(6,6,6,1) 0%, rgba(56,207,117,1) 100%);
   border-radius: 10px 10px 0 0;
   display: flex;
   justify-content:space-around;
   align-items: center;
   gap: 10px;
   color: $letrasBlancas;

    .piedepagina__titulo {
      &:hover {
         color: $bordes;
      }
    }
    
   .bi-facebook {
      font-size: 2rem;
      color: $letrasBlancas;

      &:hover {
         color: #202079;
      }
    }

    .bi-instagram {
      @extend .bi-facebook;

      &:hover {
         color: #940c88;
      }
    }

    .bi-youtube {
      @extend .bi-facebook;

      &:hover {
         color: red;
      }
    }
}