.fondo {
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/Fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header {
    background-color: $fondo;
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    max-width: 100%;
    max-height: 60px;
    
    .logoHeader {
        border-radius: 45% 0 45% 0;
        margin-left: 20px;
    }
    
    .titulo-principal {
        display: flex;
        color: antiquewhite;
        font-size: 40px;
        text-align: center;
        align-items: center;
        
        &:hover {
            color: $bordes
        }
    }

    .bg-propio {
        background-color: #1b8f1b;
     }
}

// .nav {
//     display: flex;
//     align-items: center;
// }

.navegador__item {
    display: inline-block;
    margin-inline: 10px;
    padding-inline: 10px;
    padding-block: 10px;
    justify-content: center;
}

.navegador__item a {
    text-decoration: none;
    color: antiquewhite;
}

.active {
    text-decoration: underline;
    color: black;
}

.navegador__item a:hover {
    text-decoration: underline;
}